<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
</head>
<body>
  <h1>Hey there <%= @user.display_name %>!</h1>
  <p>
    Thanks for joining DBTGuy! Feel free to share your stories and tips to everyday guys.
  </p>

</body>
</html>