a:link { 
    text-decoration:none; 
}

.post-title {
  font-size: 36px;
  font-weight: 800;
}

.post-subtitle {
  font-size: 24px;
  font-weight: 300;
}

.form-title {
  font-size: 48px;  
  height: 80px;
}

.form-subtitle {
  font-size: 30px;  
  height: 50px;
}

.form-author {
  font-size: 24px;  
  height: 40px;
}
